img{
    margin: 2px;
    max-width: 100%;
}
h1{
    font-family:monospace;
}

footer{
    padding: 20px;
    background-color: lightgray;
}

@media (min-width: 992px) {
  [class*= "carousel"] h5 {
    font-size: 1.8rem;
  }
    [class*= "carousel"] p {
    font-size: 1.1rem;
  }
}


.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.aboutus {
    max-height: 80px;
    max-width: 100%;
    padding: 5px;  
}


.wrapper {
margin:60px;
}

@media (min-width: 768px) {
    .row {
        display:block;
    }
}


