img{
    margin: 2px;
    max-width: 100%;
}
h1{
    font-family:monospace;
}

footer{
    padding: 20px;
    background-color: lightgray;
}

@media (min-width: 992px) {
  [class*= "carousel"] h5 {
    font-size: 1.8rem;
  }
    [class*= "carousel"] p {
    font-size: 1.1rem;
  }
}
